/* Grid style column align. */
.views-view-responsive-grid .views-col {
  float: left;
}
@media screen and (max-width: 480px) {
  .views-view-responsive-grid .views-col {
    width: 45% !important;
    margin: 0px 2.5% 2em 2.5%;
   /*margin-bottom: 2em;*/
  }
  .views-view-responsive-grid .views-col.clearfix {
    margin-bottom: 0;
  }
  .views-view-responsive-grid .views-col.clearfix .views-row {
    margin-bottom: 2em;
  }
}

.views-view-responsive-grid .views-row {
  clear: both;
  float: left;
  width: 100%;
}
