<div class="node_articulo_de_inventario_teaser">
    <div class="tarjeta">
         <div class="imagen">
          {{ content.field_image }}
        </div>
          <div class="codigo_asociado">
            <div class="etiqueta">
              Código asociado
            </div>
          <div class="campo">
            {{content.field_codigo_asociado}}
          </div> 
        </div>
    </div>
    <div class="title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
   </div>
</div>
    
    