<div class="node_area_de_gobierno_teaser">
   <div class="fields">
     <div class="imagen">
      {{ content.field_image }}
    </div>
    <div class="title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </div>
   </div>
</div>