<div class="page_user_login">
    <div class="contenedor_de_region_cabecera">
      {{ page.cabecera}}
    </div>
    <div class="contenedor_de_region_cabecera_movil">
     {{ page.cabecera_movil}}
    </div>
    <div class="contenedor_de_region_content">
      {{ page.content }}
    </div>
    <div class="register_forgotten_password">
      <div class="register">
        Registra una nueva cuenta: <a href="http://tlaltenango.felipemiramontesr.info/user/register">Registrar cuenta</a> 
      </div>
      <div class="forgotten_password">
        o cambia tu contraseña: <a href="http://tlaltenango.felipemiramontesr.info/user/register">Cambiar contraseña</a>
      </div>
    </div>
    <div class="contenedor_de_region_de_pie_de_pagina">
      {{ page.pie_de_pagina}}
      <div class="sub_pie_de_pagina">
        <p>© Sistema de Administración de Informacíón Pública</p>
      </div>
    </div>
  </div>